body {
    font-family: Georgia, Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%; 
    overflow-x: hidden; 
}

header {
    background-color: #FFFFFF; 
    border-bottom: 2px solid #EAB8E4; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #008B8B; 
}

h1 {
    color: #008B8B; 
    margin: 0; 
    font-family: Georgia, sans-serif; 
}

h2 {
    color: #008B8B; 
    margin: 0; 
    font-family: Georgia, Arial, sans-serif; 
}

nav {
    display: flex;
}

nav a {
    color: #008B8B; 
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: Georgia, Arial, sans-serif; 
    font-size: 1.1em;
}

nav a:hover {
    background-color: #333; 
    color: white; 
    border-radius: 4px;
}

main {
    display: flex;
    padding: 2em;
    margin-bottom: 2.2em; 
}

.sidebar {
    flex: 0 0 150px; 
    margin-right: 20px; 
}

.content {
    flex: 1;
}

img {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.2em; 
    font-size: 0.8em; 
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    font-family: Georgia, Comic Sans MS, Arial, sans-serif; 
}
