body {
    font-family: 'Bradley Hand', Comic Sans MS, Arial, sans-serif; /* 这里设置为 Comic Sans MS */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 确保内边距和边框包含在元素的总宽度和高度内 */
}

html, body {
    height: 100%; /* 确保 HTML 和 body 高度为 100% */
    overflow-x: hidden; /* 防止水平滚动条出现 */
}

header {
    background-color: #000000; /* 背景色为黑色 */
    border-bottom: 2px solid white; /* 底部边框为白色 */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white; /* 标题颜色为白色 */
    margin: 0; /* 去除默认外边距 */
    font-family: 'Bradley Hand', Comic Sans MS, sans-serif; /* 确保标题使用 Comic Sans MS */
}

h2 {
    color: black; 
    margin: 0; 
    font-family: 'Bradley Hand', Comic Sans MS, Arial, sans-serif; /* 确保副标题使用 Comic Sans MS */
}

nav {
    display: flex;
}

nav a {
    color: white; /* 导航链接颜色为白色 */
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: 'Bradley Hand', Comic Sans MS, Arial, sans-serif; /* 确保导航链接使用 Comic Sans MS */
    font-size: 1.1em;
}

nav a:hover {
    background-color: #333; /* 悬停时背景颜色稍微改变 */
    color: white; /* 悬停时文字颜色依然为白色 */
    border-radius: 4px;
}

main {
    padding: 2em;
    margin-bottom: 2.2em; /* 调整底部外边距，以确保内容不被 footer 遮挡 */
}

img {
    width: 150px; /* 调整宽度 */
    height: auto;
    border-radius: 50%; /* 创建椭圆形 */
    margin-left: 20px; /* 文本和图像之间的间距 */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.2em; /* 进一步减少内边距 */
    font-size: 0.8em; /* 减小字体大小 */
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    font-family: 'Bradley Hand', Comic Sans MS, Arial, sans-serif; /* 确保页脚使用 Comic Sans MS */
}
